@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
}
#body{
    font-family: "Poppins", serif;
}

.nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.heading{
    margin-left: 140px;
    margin-top: 95px;
    font-size: 24px;
    font-weight: 700px;
    color: rgba(58, 58, 58, 1);
}
.menu{
    display: flex;
    justify-content: space-around;
    gap: 34px;
    margin-right: 120px;
    margin-top: 95px;
    font-size: 16px;
    font-weight: 500px;
    color: rgba(58, 58, 58, 1);
}
.header-info{
    display: flex;
    gap: 240px;
}
.description{
    height: 270px;
    width: 582px;
    margin-left: 120px;
    margin-top: 134px;
}
.description h1{
    font-size: 52px;
    font-weight: 700px;
    color: rgba(58, 58, 58, 1);
}
.description p{
    font-size: 16px;
    font-weight: 500px;
    color: rgba(58, 58, 58, 1);
    margin: 16px 0px 16px;
}
.btn{
    height: 44px;
    width: 196px;
    border-radius: 41px;
   background-color: rgba(224, 44, 109, 1);
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 700px;
    padding: 10px 0px;
}
.btn i{
    padding-left: 8px;
}
.header-image img{
    height: 475px;
    width: 475px;
    margin: 80px 165px 100px 0px;
    background-image: url("../images/Circle\ design.svg");
}
.brand{
    height: 110px;
    width: 1110px;
    margin: 0px 165px 100px 165px;
}
.brand-logo{
    height: 40px;
    width: 985px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    padding: 36px 62px;
    
}

/*mobile section responsive*/
@media screen and (max-width: 576px) {
    
}